/ {
	behaviors {
		ah: auto_hold {
			compatible = "zmk,behavior-auto-hold";
			display-name = "Auto hold keyboard key";
			#binding-cells = <1>;
			bindings = <&kp>;
			timeout-ms = <5000>;
		};

		mah: mouse_auto_hold {
			compatible = "zmk,behavior-auto-hold";
			display-name = "Auto hold mouse key";
			#binding-cells = <1>;
			bindings = <&mkp>;
			timeout-ms = <1250>;
		};
	};
};
